
= form_for(@picture, html: {multipart: true}) do |f|
  
  = f.label I18n.t('image')
  = f.file_field :image
  <br>
  
  = f.label I18n.t('title')
  = f.text_field :title, class: "form-control"
  <br>

  = f.label I18n.t('description')
  = f.text_area :description, class: "form-control"
  <br>

  = f.check_box :is_priavte, {}, true, false
  =f.label I18n.t('private image')
  <br> <br>

  = f.submit I18n.t('submit') , class: "btn btn-info"
  