/ %h2  All pictures
/ - @pictures.each do |picture| 

/ 	%h2= link_to picture.title, picture
/ 	%p= time_ago_in_words(picture.created_at)

/ = link_to "New picture", new_picture_path
		

.padding
	- unless @pictures.blank?
		- @pictures.each do |picture|
			%a{ href: (url_for [picture])}
				%h4.title= link_to picture.title, picture
				%h5.date= time_ago_in_words(picture.created_at)
				= link_to image_tag picture.image.url(:thumb)
	- else
		%h2 Add a picture
		%button= link_to "New Picture", new_picture_path

= will_paginate @picture, renderer: BootstrapPagination::Rails
	