

%html
%head
  %title Manage Images | Final App
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %link{:rel => "stylesheet", :href => "path/to/font-awesome/css/font-awesome.min.css"}/
  = csrf_meta_tags
  %br/
.background-image
.header-right
  - if user_signed_in?
    %i.glyphicon.glyphicon-camera
    = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: "navbar-text navbar-right"
    = link_to t('.new_picture'), new_picture_path, class: "navbar-text navbar-right"
    = link_to t('.all_pictures') ,pictures_path, class: "navbar-text navbar-right"
    = link_to t('.new_album'), new_album_path, class: "navbar-text navbar-right"
    
  - else
    = link_to I18n.t('login'), new_user_session_path
  %p.notice= notice
  %p.alert= alert
  = yield