
.detail-album
	%h1 #{I18n.t('detail_album')}
	%p#notice= notice

	%p
	%b #{I18n.t('name')}
	= @album.name
	%p 	
	<br>
	%b #{I18n.t('description')}
	= @album.description
	%p
	<br>
	%b #{I18n.t('public')}
	= @album.is_public
	<br>
	<br>
	%b Pictures:

	<br>
	<br>
	<br>
	= link_to I18n.t('edit'), edit_album_path(@album), class: "btn btn-info"

	= link_to I18n.t('back'), albums_path, class: "btn btn-info"
