
.detail-album
	%h1 DETAIL ALBUM
	%p#notice= notice

	%p
	%b Name:
	= @album.name
	%p
	%b Description:
	= @album.description
	%p
	%b Is private:
	= @album.is_private
	<br>
	= link_to 'Edit', edit_album_path(@album), class: "btn btn-info"

	= link_to 'Back', albums_path, class: "btn btn-info"
