
.detail-album
	%h1 DETAIL ALBUM
	%p#notice= notice

	%p
	%b Name:
	= @album.name
	%p 	
	<br>
	%b Description:
	= @album.description
	%p
	<br>
	%b Is public:
	= @album.is_public
	<br>
	<br>
	%b Pictures:

	<br>
	<br>
	<br>
	= link_to I18n.t('edit'), edit_album_path(@album), class: "btn btn-info"

	= link_to I18n.t('back'), albums_path, class: "btn btn-info"
